<div class="row">
  <div class="col-3 col-md-3">
    <h4>Options</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="use24HourTime" [(ngModel)]="cronOptions.use24HourTime">
      <label class="form-check-label" for="use24HourTime">use24HourTime: {{cronOptions.use24HourTime}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideMinutesTab" [(ngModel)]="cronOptions.hideMinutesTab">
      <label class="form-check-label" for="hideMinutesTab">hideMinutesTab: {{cronOptions.hideMinutesTab}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideHourlyTab" [(ngModel)]="cronOptions.hideHourlyTab">
      <label class="form-check-label" for="hideHourlyTab">hideHourlyTab: {{cronOptions.hideHourlyTab}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideDailyTab" [(ngModel)]="cronOptions.hideDailyTab">
      <label class="form-check-label" for="hideDailyTab">hideDailyTab: {{cronOptions.hideDailyTab}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideWeeklyTab" [(ngModel)]="cronOptions.hideWeeklyTab">
      <label class="form-check-label" for="hideWeeklyTab">hideWeeklyTab: {{cronOptions.hideWeeklyTab}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideAdvancedTab" [(ngModel)]="cronOptions.hideAdvancedTab">
      <label class="form-check-label" for="hideAdvancedTab">hideAdvancedTab: {{cronOptions.hideAdvancedTab}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="hideSeconds" [(ngModel)]="cronOptions.hideSeconds">
      <label class="form-check-label" for="hideSeconds">hideSeconds: {{cronOptions.hideSeconds}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="removeSeconds" [(ngModel)]="cronOptions.removeSeconds">
      <label class="form-check-label" for="removeSeconds">removeSeconds: {{cronOptions.removeSeconds}}</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="removeYears" [(ngModel)]="cronOptions.removeYears">
      <label class="form-check-label" for="removeYears">removeYears: {{cronOptions.removeYears}}</label>
    </div>
    <div class="form-group">
      <label>Language</label>
      <select class="form-control-sm form-control input-sm" [(ngModel)]="language" (ngModelChange)="onChangeLanguage($event)">
        <option value="English">English</option>
        <option value="Swedish" selected="selected">Swedish</option>
      </select>
    </div>
    <div class="form-group">
      <label>Style</label>
      <select class="form-control-sm form-control input-sm" [(ngModel)]="style">
        <option value="tabs">Tabs</option>
        <option value="compact" selected="selected">Compact</option>
      </select>
    </div>
  </div>
  <div class="col-9 col-md-9">

    <cron-editor-tabs *ngIf="style == 'tabs'" [(cron)]="cronExpression" [disabled]="isCronDisabled" [options]="cronOptions"></cron-editor-tabs>
    <cron-editor-compact *ngIf="style == 'compact'" [(cron)]="cronExpression" [disabled]="isCronDisabled" [options]="cronOptions"></cron-editor-compact>

    <hr />
    <p>The resulting Cron expression: </p>
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" [(ngModel)]="cronExpression">
    </div>
  </div>
</div>
